body {
    margin: 0;
    font-family: sans-serif;
    background: url('/static/images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: black;
}

/* 상단 네비게이션 바 */
nav {
    background-color: white;
    padding: 12px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 30px;
}

/* 메인 콘텐츠 레이아웃 */
.container {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    gap: 80px;
}

.intro {
    flex: 1;
    color: white;
    font-size: 1.7rem;
}

.intro h1 {
    font-size:3rem;
    margin-bottom : 20px;
}

.recent-posts {
    flex: 1.2;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 12px;
}

.recent-posts h2 {
    color: gray;
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.card {
    background-color: rgba(255, 255, 255, 0.85);
    margin-bottom: 24px;
    padding: 24px;
    border-radius: 12px;
    color: black;
    font-size:1.1rem;
}

.card h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.card small {
    display: flex;
    align-items: center;
    margin-top: 8px;
    font-size: 1rem;
    gap: 8px;
}

.card img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 8px;
    margin-right: 6px;
}